@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-brand: #00ad5f;
  --color-brand-hover: #333333;
  --color-input-border: #e6e6e6;
  --color-input-placeholder: #999999;
  --color-text-body: #666666;
  --color-text-title: #555555;
  --color-page-bg: #f2f2f2;
  --color-error: #c80000;
}
