@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-green: #7de6b1;
  --color-brand-green-light: #a8f0cc;
  --color-text-dark: #333333;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
}
