@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-violet: #7c3aed;
  --color-brand-violet-light: #ede9fe;
  --color-brand-violet-dark: #5b21b6;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
}
