@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-teal: #20c997;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
}
