@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #3e64ff;
  --color-brand-hover: #3252cc;
  --font-roboto: 'Roboto', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-roboto);
    scroll-behavior: smooth;
  }
}
