@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #ffa37b;
  --color-charcoal: #393939;
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Roboto', sans-serif;
}
