@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #988fff;
  --color-brand-dark: #7b6fe0;
  --color-footer-dark: #04091e;
  --font-body: 'Poppins', sans-serif;
}
