@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #037ef3;
  --font-heading: 'Playfair Display', serif;
  --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
}
