@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-pink: #e66686;
  --color-brand-orange: #f09359;
  --color-brand-dark: #222222;
  --color-brand-gray: #777777;
  --color-brand-lavender: #f9f9ff;
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-poppins);
  }
}
